@model IEnumerable<ViewModelTemplate.Models.OrderDetail>

@{
    ViewBag.Title = "OrderDetails";
}

<h2>CustomerOrders</h2>

<div class="container">
    <div class="col-md-9">
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProdName)</th>
                <th>@Html.DisplayNameFor(model => model.Qty)</th>
                <th>@Html.DisplayNameFor(model => model.ProdPrice)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Modelitem => item.ProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(Modelitem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(Modelitem => item.ProdPrice)
                </td>
            </tr>
                        }
        </table>
    </div>
    </div>
